:root {
    --primary-color: #505033;
    --secondary-color: #264969;
    --accent1-color: #CFCFB4;
    --accent2-color: #B4CDE4;
    --heading-font: Georgia, sans-serif;
    --body-font: "Roboto", sans-serif;
  }

/* Here is the header*/
.header{
  min-height: 1vh;
  width: 100%;
  color: var(--secondary-color);
  background-image: linear-gradient(var(--secondary-color), var(--secondary-color));
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
}

/* Here is the navigation bar*/


  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-family: var(--body-font);
    font-size: 20px;
  
}

nav img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
    

}

.nav-links{
    flex: 1;
    text-align: center;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: var(--accent1-color);
    text-decoration: none;
    font-size: 13px;
    font-family: var(--heading-font);
} 

.herodiv img{
  position: relative;
  width: 100%;
  height: auto;
}

.herodiv h1{
  position: absolute;
  top: 230px;  
  font-size: 40px;
  background-color: var(--secondary-color);
  width: 98%;
  text-align: center;
  color: var(--accent1-color);
  padding: 5px;
  
}

.text-box {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 20px;
  width: 80%;
  height: auto;
  margin-top: -650px; 
}

.text-box img.small-image {
  float: right;
  width: 150px; 
  height: auto;
  margin: 0 0 10px 10px;
}


.history {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background-color: var(--accent1-color);
  padding-bottom: 20px;
  
}

.history > :first-child {
  grid-column: 1 / -1;
}


  

.history h2{
  font-family: var(--heading-font);
  color: var(--secondary-color);
  font-size: 20px;
  text-align: center;
}

.history p {
  font-family: var(--body-font);
  font-size: 10px;
  margin: 0; 
  padding-left: 20px;
  padding-right: 20px;
}

.adventure{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure > :first-child {
  grid-column: 1 / -1;
}

.adventure h2{
  text-align: center;
}

.adventure img {
  width: 100%;
  height: auto;
  display: block; 
}

.adventure figcaption{
  padding-top: 8px;
}


.footer {
  position: relative; 
  text-align: center; 
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border: solid 1px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
}

.footer p {
  margin: 0;
}

.social-icons {
  position: absolute; 
  right: 20px;        
  top: 50%;           
  transform: translateY(-50%);
  display: flex;      
  gap: 10px;
}

.social-icons a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

