/* This is the root variable declaration */
:root {
    --heading-background-color: darkblue;
    --heading-text-color: white;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 2px;
    --border: 1px solid rgb(0 0 0 / 0.1);
}



nav{
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1{
    color: var(--heading-background-color);

}

img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
    
}

main{
    max-width: 840px;
}

main img{
    width: 150px;
    height: auto;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: lightgreen;
    text-align: center;
    color: black;

}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 40px;
    border-top: 1px solid #000;
    text-align: center;
}